@using static AdhocCorrespondenceEditor.Client.AceDataCollector
@using AdhocCorrespondenceEditor.Client
@using AdhocCorrespondenceEditor.Client.Common
@using AdhocCorrespondenceEditor.Client.ControlClass
@using AdhocCorrespondenceEditor.Client.PageHelper
@using AdhocCorrespondenceEditor.Shared
@using AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity
@using AdhocCorrespondenceEditor.Shared.PL
@implements IAsyncDisposable
@namespace AdhocCorrespondenceEditor.Client.Shared

        <div class="row">
        <div class="col-md-3">
            Accident Date:
        </div>
        <div class="col-md-4">
            <RadzenDatePicker TValue="DateTime"   class="DropDownSize300"
           DateFormat="yyyy-MM-dd" Placeholder="YYYY-MM-DD" Change=@(args => OnDateChange(args))/>

        </div>
        </div>
     <div class="row">
        <div class="col-md-3">
                        Driver Name:
    </div>
          <div class="col-md-4">
            <RadzenDropDown class="DropDownSize300"   TValue="PartyAddressUI" Data=@partyList Change=@(args => OnDriverChanged(args)) TextProperty="DisplayName" ValueProperty="PartyID" AllowClear=true  Placeholder="--Select--" >
            </RadzenDropDown>
         </div>
        <div class="col-md-4">
        <RadzenTextBox class="DropDownSize300"  @bind-Value=@addressValue Disabled ="@(!string.IsNullOrEmpty(selectedDriver))" MaxLength="150" />
    </div>
    </div>
     <div class="row"><div class="col-md-3"></div>
     <div class="col-md-4"style="margin-top:5px"><RadzenSwitch  @bind-Value=@accidentDescription /> Accident Description </div>
     <div class="col-md-4"style="margin-top:5px"><RadzenSwitch  @bind-Value=@claimStatus /> Claim Status </div></div>
    <div class="row"><div class="col-md-3"></div><div class="col-md-4"style="margin-top:5px"><RadzenSwitch  @bind-Value=@payoutAmount /> Payout Amount </div></div>

<hr />

@code {

    public async ValueTask DisposeAsync()
    {
        LookupData.DocumentSubmitted -= new MyEventHandler(DocumentSubmitted);
    }

    [Parameter]
    public AceDataCollector LookupData { get; set; }
    [Parameter]
    public LoggerUtility Logger { get; set; }
    string selectedDriver = string.Empty;
    string addressValue = string.Empty;
    List<PartyAddressUI> partyList = new();
    bool accidentDescription,claimStatus,payoutAmount;
    DateTime accidentDate;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var driverInfoTypes = ApplicationConstants.PLDriverInfoTypes.Split(',').ToList();
            var  driverInfo = (((PLSourceSystemEntity)(LookupData.SourceSystemEntity)).PolicyData.Policy.PolicyPeriod.PolicyLines.SelectMany(x => x.UmbrellaLine.HouseholdMembers).Where(y => (driverInfoTypes.Contains(y.Person.VehicalDriverLicense.LicenseStatusCd)))).ToList();
            partyList = PCUMBNamesAddress.GetPersonName(driverInfo);
        }
        catch (Exception ex)
        {
            Logger.LogInfoAsync(LogType.Error, ex);
        }
        LookupData.DocumentSubmitted += new MyEventHandler(DocumentSubmitted);
    }

    void DocumentSubmitted(bool isValidate)
    {
        var userSelection = ((PLHoUmbDwUserEntity)LookupData.UserSelection);
        if (userSelection.AccidentInfoDetails == null)
            userSelection.AccidentInfoDetails = new();

        AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity.AccidentInfo tempAccidentInfo = new();
        if (string.IsNullOrEmpty(selectedDriver))
            tempAccidentInfo.DriverName = addressValue?.Trim();
        else
            tempAccidentInfo.DriverName = selectedDriver;
        tempAccidentInfo.AccidentDate = accidentDate;
        tempAccidentInfo.DriverNameEntered = addressValue?.Trim();
        tempAccidentInfo.AccidentDescription = accidentDescription;
        tempAccidentInfo.ClaimStatus = claimStatus;
        tempAccidentInfo.PayoutAmount = payoutAmount;
        userSelection.AccidentInfoDetails.Add(tempAccidentInfo);

    }
    public async void OnDriverChanged(object myArgs)
    {
        var id = myArgs == null ? string.Empty : myArgs.ToString();
        if (string.IsNullOrEmpty(id))
            selectedDriver = string.Empty;
        else
            selectedDriver = partyList.Where(x => x.PartyID == id).FirstOrDefault()?.DisplayName;
        if (!string.IsNullOrEmpty(selectedDriver))
            addressValue = string.Empty;
    }

    void OnDateChange(object myArgs)
    {

        accidentDate = (DateTime)myArgs;
    }
}
