 @using static AdhocCorrespondenceEditor.Client.AceDataCollector
@using AdhocCorrespondenceEditor.Client
@using AdhocCorrespondenceEditor.Client.Common
@using AdhocCorrespondenceEditor.Client.ControlClass
@using AdhocCorrespondenceEditor.Client.PageHelper
@using AdhocCorrespondenceEditor.Shared
@using AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity
@using AdhocCorrespondenceEditor.Shared.PL
@implements IAsyncDisposable
@namespace AdhocCorrespondenceEditor.Client.Shared

                    <div class="row">
                <div class="col-md-3">
                    Risk Location Address
                </div>
                 <div class="col-md-4">
                     <RadzenDropDown class="DropDownSize300"   TValue="ControlClass.Address" Data=@partyList TextProperty="Line1Tx" ValueProperty="ID" Change=@(args => OnAddressChanged(args)) AllowClear=true  Placeholder="--Select--" >
                        <Template>
                        @($"{context.Line1Tx} {context.Line2Tx} {context.Line3Tx} , {context.Municipality} {context.CountrySubdivision} {context.PostalCd}")        
                        </Template>
                    </RadzenDropDown>
                </div>
                 <div class="col-md-4">
                    <RadzenTextBox class="DropDownSize300"  @bind-Value=@addressValue Disabled ="@(!string.IsNullOrEmpty(selectedAddressID))" MaxLength="150" />
                </div>
            </div>
                <div class="row"><div class="col-md-3"></div><div class="col-md-4"style="margin-top:5px">   <RadzenSwitch @bind-Value=@occupancyType Disabled =@GetDisabledStatus()/> Occupancy Type </div>
                <div class="col-md-4"style="margin-top:5px">    <RadzenSwitch @bind-Value=@usage  Disabled =@GetDisabledStatus()/> Usage  </div></div>
                 <div class="row"><div class="col-md-3"></div><div class="col-md-4"style="margin-top:5px">   <RadzenSwitch @bind-Value=@residenceType  Disabled =@GetDisabledStatus()/> Residence Type </div>
                 <div class="col-md-4"style="margin-top:5px">   <RadzenSwitch @bind-Value=@pool  Disabled =@GetDisabledStatus()/> Pool </div></div>
<hr />

@code {

    public async ValueTask DisposeAsync()
    {
        LookupData.DocumentSubmitted -= new MyEventHandler(DocumentSubmitted);
    }

    [Parameter]
    public AceDataCollector LookupData { get; set; }
    [Parameter]
    public LoggerUtility Logger { get; set; }
    string selectedAddressID = string.Empty;
    string addressValue = string.Empty;
    List<ControlClass.Address> partyList = new();
    bool occupancyType,usage,residenceType,pool ;



    protected override async Task OnInitializedAsync()
    {
        try
        {
            var partyRoles = ApplicationConstants.PLCompleteAddressTypes.Split(',').ToList();
            var  locations = (((PLSourceSystemEntity)(LookupData.SourceSystemEntity)).PolicyData.Policy.PolicyPeriod.PolicyLines.SelectMany(x => x.UmbrellaLine.LocationExposures).Where(y => (partyRoles.Contains(y.LocationTypeCd)))).ToList();
            partyList = PCUMBNamesAddress.GetAddress(locations);
        }
        catch (Exception ex)
        {
            Logger.LogInfoAsync(LogType.Error, ex);
        }
        LookupData.DocumentSubmitted += new MyEventHandler(DocumentSubmitted);
    }

    void DocumentSubmitted(bool isValidate)
    {
        var userSelection = ((PLHoUmbDwUserEntity)LookupData.UserSelection);
        if (userSelection.PropertyDetails == null)
            userSelection.PropertyDetails = new();
        if (string.IsNullOrEmpty(selectedAddressID) && string.IsNullOrEmpty(addressValue?.Trim()))
            return;

        AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity.PropertyDetailInfo tempDetails = new();

        if (string.IsNullOrEmpty(selectedAddressID))
        {
            tempDetails.CompleteAddresses.Line1Tx = addressValue?.Trim();
        }
        else
        {
            var selectedAddress = partyList.Where(x => x.ID == selectedAddressID).FirstOrDefault();

            tempDetails.CompleteAddresses.Line1Tx = selectedAddress?.Line1Tx;
            tempDetails.CompleteAddresses.Line2Tx = selectedAddress?.Line2Tx;
            tempDetails.CompleteAddresses.Line3Tx = selectedAddress?.Line3Tx;
            tempDetails.CompleteAddresses.MunicipalityNm = selectedAddress?.Municipality;
            tempDetails.CompleteAddresses.CountrySubdivisionNm = selectedAddress?.CountrySubdivision;
            tempDetails.CompleteAddresses.PostalCd = selectedAddress?.PostalCd;
        }
        tempDetails.ResidenceType = residenceType;
        tempDetails.OccupancyType = occupancyType;
        tempDetails.Usage = usage;
        tempDetails.Pool = pool;
        userSelection.PropertyDetails.Add(tempDetails);
    }

    public async void OnAddressChanged(object myArgs)
    {
        selectedAddressID = myArgs == null ? string.Empty : myArgs.ToString();
        if (!string.IsNullOrEmpty(selectedAddressID))
            addressValue = string.Empty;
        else
            ResetRadioButtons();
    }
    public async void OnTextChanged(object myArgs)
    {
        if (string.IsNullOrEmpty(selectedAddressID)&& string.IsNullOrEmpty(addressValue) )
            ResetRadioButtons();
    }
    async void ResetRadioButtons()
    {
        occupancyType = usage = residenceType = pool = false;
    }
    bool GetDisabledStatus()
    {
        return string.IsNullOrEmpty(selectedAddressID) && string.IsNullOrEmpty(addressValue);
    }
}
