@using static AdhocCorrespondenceEditor.Client.AceDataCollector
@using AdhocCorrespondenceEditor.Client
@using AdhocCorrespondenceEditor.Client.Common
@using AdhocCorrespondenceEditor.Client.ControlClass
@using AdhocCorrespondenceEditor.Client.PageHelper
@using AdhocCorrespondenceEditor.Shared
@using AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity
@using AdhocCorrespondenceEditor.Shared.PL
@implements IAsyncDisposable
@namespace AdhocCorrespondenceEditor.Client.Shared

<div class="row">
     <div class="row">
        <div class="col-md-3">
             Claims Auto
        </div>
                <div class="col-md-3">
            Driver Name:
        </div>
            <div class="col-md-3">
                <RadzenDropDown class="DropDownSize300" TValue="PartyAddressUI" Data=@partyList Change=@(args => OnNameChanged(args)) TextProperty="DisplayName" ValueProperty="PartyID" AllowClear=true  Placeholder="--Select--" />
        </div>
            <div class="col-md-3">
            <RadzenTextBox class="DropDownSize300"  @bind-Value=@txtDriverName Disabled ="@(!string.IsNullOrEmpty(selectedDriver))" MaxLength="150" /> 
        </div>
    </div>
</div>
<hr />

@code {
    public async ValueTask DisposeAsync()
    {
        LookupData.DocumentSubmitted -= new MyEventHandler(DocumentSubmitted);
    }

    [Parameter]
    public AceDataCollector LookupData { get; set; }
    [Parameter]
    public LoggerUtility Logger { get; set; }
    string selectedDriver = string.Empty;
    string txtDriverName = string.Empty;

    List<PartyAddressUI> partyList = new();
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var  driverInfo = (((PLSourceSystemEntity)(LookupData.SourceSystemEntity)).PolicyData.Policy.PolicyPeriod.PolicyLines.SelectMany(x => x.UmbrellaLine.HouseholdMembers)).ToList();
            partyList = PCUMBNamesAddress.GetPersonName(driverInfo);
        }
        catch (Exception ex)
        {
            Logger.LogInfoAsync(LogType.Error, ex);
        }
        LookupData.DocumentSubmitted += new MyEventHandler(DocumentSubmitted);
    }

    void DocumentSubmitted(bool isValidate)
    {
        var userSelection = ((PLHoUmbDwUserEntity)LookupData.UserSelection);
        if (userSelection.ClaimsAutoDriverName == null)
            userSelection.ClaimsAutoDriverName = new();
        if (string.IsNullOrEmpty(selectedDriver) && string.IsNullOrEmpty(txtDriverName?.Trim()))
            return;
        userSelection.ClaimsAutoDriverName.Add(string.IsNullOrEmpty(selectedDriver) ? txtDriverName?.Trim() : selectedDriver);
    }

    public async void OnNameChanged(object myArgs)
    {
        var id = myArgs == null ? string.Empty : myArgs.ToString();
        if (string.IsNullOrEmpty(id))
            selectedDriver = string.Empty;
        else
            selectedDriver = partyList.Where(x => x.PartyID == id).FirstOrDefault()?.DisplayName;
        if (!string.IsNullOrEmpty(selectedDriver))
            txtDriverName = string.Empty;
    }



}
