@using AdhocCorrespondenceEditor.Client.Common
@using AdhocCorrespondenceEditor.Client.ControlClass
@using AdhocCorrespondenceEditor.Client.PageHelper
@using AdhocCorrespondenceEditor.Shared
@using AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity
@using AdhocCorrespondenceEditor.Shared.PCPA
@using static AdhocCorrespondenceEditor.Client.AceDataCollector
@implements IAsyncDisposable
@namespace AdhocCorrespondenceEditor.Client.Shared

<div class="row">
    <div class="col-md-5">
        * Cancellation Date:
    </div>
    <div class="col-md-6">
                <RadzenDatePicker @bind-Value=@cancellationDate class="@LookupData.GetTextColorClassCalander((cancellationDate.HasValue)?cancellationDate.Value.ToString():string.Empty, firstRendeValue)" 
                DateFormat="yyyy-MM-dd" Change=@(args => OnCancelDateChange(args))  Style="width: 100%; max-width: 400px;" Placeholder="YYYY-MM-DD"/>
    </div>
</div>

@code {

    public async ValueTask DisposeAsync()
    {
        LookupData.DocumentSubmitted -= new MyEventHandler(DocumentSubmitted);
    }

    [Parameter]
    public AceDataCollector LookupData { get; set; }
    [Parameter]
    public LoggerUtility Logger { get; set; }
    [Parameter]
    public string Reason { get; set; }
    DateTime? cancellationDate;
    protected override async Task OnInitializedAsync()
    {

        LookupData.DocumentSubmitted += new MyEventHandler(DocumentSubmitted);
    }
    bool firstRendeValue = true;
    protected override void OnAfterRender(bool firstRender)
    {
        firstRendeValue = firstRender;
    }
    void DocumentSubmitted(bool isValidate)
    {
        if (!cancellationDate.HasValue)
        {
            LookupData.errorDetails.IsInValid = isValidate;
            return;
        }
        ((PLPAUserEntity)LookupData.UserSelection).VehicleCoverageCancelDate = cancellationDate.Value;
    }

    void OnCancelDateChange(object myArgs)
    {
        cancellationDate = myArgs == null? null:(DateTime)myArgs;
    }

}