@using AdhocCorrespondenceEditor.Client.Common
@using AdhocCorrespondenceEditor.Client.ControlClass
@using AdhocCorrespondenceEditor.Client.PageHelper
@using AdhocCorrespondenceEditor.Shared
@using AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity
@using AdhocCorrespondenceEditor.Shared.PCPA
@using AdhocCorrespondenceEditor.Shared.PL
@using static AdhocCorrespondenceEditor.Client.AceDataCollector
@implements IAsyncDisposable
@namespace AdhocCorrespondenceEditor.Client.Shared

<div class="row">
    <div class="col-md-3">
       * Driver Name:
    </div>
 </div>
     <div class= "row">
         @foreach(var displayName in partyList)
         {
   <div class="col-md-7" style="margin-top: 2px">
                       <RadzenSwitch Change="@(args => OnDriverChanged(args, displayName))"/> @displayName  

        </div>
         }
    <div class="col-md-7" style="margin-top: 3px">
        <RadzenTextBox class ="@LookupData.GetTextColorClass(inputDriverName, firstRendeValue)" @bind-Value=@inputDriverName Disabled="@(selectedDriver.Count > 0)" MaxLength="75" />
    </div>
    </div>


@code {

    public async ValueTask DisposeAsync()
    {
        LookupData.DocumentSubmitted -= new MyEventHandler(DocumentSubmitted);
    }

    [Parameter]
    public AceDataCollector LookupData { get; set; }
    [Parameter]
    public LoggerUtility Logger { get; set; }
    [Parameter]
    public string Reason { get; set; }

    List<string> selectedDriver= new();
    string inputDriverName= string.Empty;
    List<string> partyList = new();
    protected override async Task OnInitializedAsync()
    {
        try
        {
            string plDriver;
            var driverInfoTypes = ApplicationClassUtility.GetVariableText(LookupData.configLookupEntity, nameof(plDriver), LookupData.documentData.documentEntity.DocumentId).Split(',');
            var partyFullList = (new MapperClass()).GetMappedObjects(LookupData.SourceSystemEntity);
            var driverInfo = partyFullList.Where(y => (driverInfoTypes.Any(y.PartyRoles.Contains))).ToList();
            partyList = PCUMBNamesAddress.GetPersonName(driverInfo);
        }
        catch (Exception ex)
        {
            Logger.LogInfoAsync(LogType.Error, ex);
        }
        LookupData.DocumentSubmitted += new MyEventHandler(DocumentSubmitted);
    }
    bool firstRendeValue = true;
    protected override void OnAfterRender(bool firstRender)
    {
        firstRendeValue = firstRender;
    }
    void DocumentSubmitted(bool isValidate)
    {
        if (selectedDriver.Count == 0 && string.IsNullOrEmpty(inputDriverName?.Trim()))
        {
            LookupData.errorDetails.IsInValid = true;
            return;
        }
        if (((PLPAUserEntity)LookupData.UserSelection).PolicyDriverDetails == null)
            ((PLPAUserEntity)LookupData.UserSelection).PolicyDriverDetails = new List<PolDriveInfo>();
        if (selectedDriver.Count > 0)
            ((PLPAUserEntity)LookupData.UserSelection).PolicyDriverDetails.AddRange(selectedDriver.Select(driverName=> new PolDriveInfo
            {
                  DriverName = driverName
            }));
        else if (!string.IsNullOrEmpty(inputDriverName?.Trim()))
            ((PLPAUserEntity)LookupData.UserSelection).PolicyDriverDetails.Add(new PolDriveInfo
                {
                    DriverName = inputDriverName?.Trim()
                });
    }


    public async void OnDriverChanged(bool value, string displayName)
    {
        if (value)
            selectedDriver.Add(displayName);
        else
            selectedDriver.Remove(displayName);

        if (selectedDriver.Count > 0)
            inputDriverName = string.Empty;
    }

}
