@using AdhocCorrespondenceEditor.Client.Common
@using AdhocCorrespondenceEditor.Client.ControlClass
@using AdhocCorrespondenceEditor.Client.PageHelper
@using AdhocCorrespondenceEditor.Shared
@using AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity
@using AdhocCorrespondenceEditor.Shared.PL
@using static AdhocCorrespondenceEditor.Client.AceDataCollector
@implements IAsyncDisposable
@namespace AdhocCorrespondenceEditor.Client.Shared

<div class="row">
    <div class="col-md-4">
          <RadzenSwitch @bind-Value=@isNDEOfferlSelected /> NDE Offer
    </div>
</div>

@code {

    public async ValueTask DisposeAsync()
    {
        LookupData.DocumentSubmitted -= new MyEventHandler(DocumentSubmitted);
    }

    [Parameter]
    public AceDataCollector LookupData { get; set; }
    [Parameter]
    public LoggerUtility Logger { get; set; }
    [Parameter]
    public string Reason { get; set; }

    bool  isNDEOfferlSelected = false;
    protected override async Task OnInitializedAsync()
    {
        LookupData.DocumentSubmitted += new MyEventHandler(DocumentSubmitted);
    }

    void DocumentSubmitted(bool isValidate)
    {
       ((PLPAUserEntity)LookupData.UserSelection).IsNDEOffer = isNDEOfferlSelected;
    }



}
