USE [ACE]
GO
/****** Object:  StoredProcedure [dbo].[GetCategory]    Script Date: 7/19/2023 12:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Sreedhar Meka
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER procedure  [dbo].[GetCategory] 
AS
BEGIN

	SET NOCOUNT ON;
	Declare @currentDate datetime
	SELECT @currentDate = GETDATE()
	--Category
	SELECT	cat.CategoryId, 
			CategoryName,
			CategoryFriendlyName,
			IsCategoryActive,
			CategoryGroups,
			lob.LOBId,
			LOBName,
			LOBType
			CategoryOrder
	FROM [dbo].[Category] cat
	JOIN [dbo].[LOBCategory] lobcat
	ON cat.CategoryId = lobcat.CategoryId
	JOIN [dbo].[LOB] lob
	ON lob.LOBId = lobcat.LOBId
	WHERE @currentDate between EffectiveDate AND ExpirationDate
	ORDER BY lobcat.CategoryOrder 



END



