USE [ACE]
GO
/****** Object:  StoredProcedure [dbo].[GetLookupData]    Script Date: 7/17/2023 4:47:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Sreedhar Meka
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER procedure  [dbo].[GetDocumentDropdownLookupData] 
AS
BEGIN

	SET NOCOUNT ON;


	--Generic lookup data
	SELECT 
       [DocumentId]
      ,dropdowntype.[LobId]
	  ,LOBName
      ,[DocumentDropdownLookupTypeCode]
      ,[DocumentDropdownLookupTypeLabelName]
      ,[DocumentDirection]
	  ,[DocumentDropdownLookupItemCode]
      ,[DocumentDropdownLookupItemValue]
      ,[DocumentDropdownLookupItemTypeId]
      ,[DocumentDropdownLookupItemOrder]

	FROM  [dbo].[DocumentDropdownLookupType] dropdowntype
	JOIN  [dbo].[DocumentDropdownLookupItem] dropdownlook
	ON dropdowntype.DocumentDropdownLookupTypeId = dropdownlook.DocumentDropdownLookupItemTypeId
	JOIN  [dbo].[LOB] lob
	ON lob.LOBId = dropdowntype.LobId

	ORDER BY DocumentId,DocumentDropdownLookupTypeCode,DocumentDropdownLookupItemOrder
END



