USE [ACE]
GO
/****** Object:  StoredProcedure [dbo].[GetReferenceData]    Script Date: 7/17/2023 12:28:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Sreedhar Meka
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR Alter procedure  [dbo].[GetDocument] 
AS
BEGIN

	SET NOCOUNT ON;
	Declare @currentDate datetime
	SELECT @currentDate = GETDATE()
	--Documents
	SELECT 
		doc.DocumentId,
		DocumentName,
		DocumentFriendlyName,
		IsDocumentActive,
		BaseState,
		JldFilePath,
		DocumentType,
		DocumentOrder,
		cat.CategoryId,
		CategoryName,
		CategoryFriendlyName,
		IsCategoryActive
	FROM [dbo].[Document] doc
	JOIN [dbo].[CategoryDocument] catdoc
	ON doc.DocumentId = catdoc.DocumentId
	JOIN [dbo].[Category] cat
	ON catdoc.CategoryId= cat.CategoryId
	WHERE @currentDate between EffectiveDate AND ExpirationDate
	Order BY catdoc.DocumentOrder 


END



