USE [ACE]
GO
/****** Object:  StoredProcedure [dbo].[GetReferenceData]    Script Date: 7/17/2023 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Sreedhar Meka
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER procedure  [dbo].[GetDocumentControl] 
AS
BEGIN

	SET NOCOUNT ON;

	--Document Controls
	SELECT 
		con.ControlId,
		con.ControlName,
		dc.DocumentControlId,
		dc.DocumentId,
		dc.ControlOrder 
	FROM DocumentControl dc
	JOIN Control con
	ON con.ControlId = dc.ControlId 
	ORDER by dc.ControlOrder

END



