USE [ACE]
GO
/****** Object:  StoredProcedure [dbo].[GetLookupData]    Script Date: 7/17/2023 4:47:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sreedhar Meka
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER procedure  [dbo].[GetGenericLookupData] 
AS
BEGIN

	SET NOCOUNT ON;


	--Generic lookup data
	SELECT 
		gen.GenericLookupItemId,
		gen.GenericLookupItemCode,
		gen.GenericLookupItemValue,
		gen.IsGenericLookupItemActive,
		gen.GenericLookupItemOrder,
		gen.LookupTypeId,
		look.LookupTypeValue
	FROM  [dbo].[GenericLookupItem] gen
	JOIN  [dbo].[LookupType] look
	ON gen.LookupTypeId = look.LookupTypeId


END



