USE [ACE]
GO
/****** Object:  StoredProcedure [dbo].[GetReferenceData]    Script Date: 7/17/2023 4:55:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Sreedhar Meka
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER procedure  [dbo].[GetLOB] 
AS
BEGIN

	SET NOCOUNT ON;

	--LOB
	SELECT 	  
	  [LOBId],
      [LOBName],
      [LOBType] FROM [dbo].[LOB]

END



