USE [ACE]
GO
/****** Object:  StoredProcedure [dbo].[GetWebService]    Script Date: 7/11/2023 12:54:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Sreedhar Meka
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
 CREATE OR ALTER PROC  [dbo].[GetWebService] 

AS
BEGIN
	SET NOCOUNT ON;
		begin
			SELECT 
				WebServiceId,
				ws.LOBId,
				URL,
				Environment,
				URLType,
				LOBName,
				LOBType
			FROM Webservice ws
			JOIN [dbo].[LOB] lob
			ON ws.LOBId = lob.LOBId
		end
END










