@using AdhocCorrespondenceEditor.Client.Common
@using AdhocCorrespondenceEditor.Client.ControlClass
@using AdhocCorrespondenceEditor.Client.PageHelper
@using AdhocCorrespondenceEditor.Shared
@using AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity
@using AdhocCorrespondenceEditor.Shared.PL
@using static AdhocCorrespondenceEditor.Client.AceDataCollector
@implements IAsyncDisposable
@namespace AdhocCorrespondenceEditor.Client.Shared

                <div class="row" > 
                    <div class="col-md-3">Clue Reference Number:</div>
                       <div class="col-md-4"> <RadzenTextBox  class="DropDownSize300"  @bind-Value=@clueReferenceNumberInput MaxLength="150"/> </div>
                </div>

@code {

    public async ValueTask DisposeAsync()
    {
        LookupData.DocumentSubmitted -= new MyEventHandler(DocumentSubmitted);
    }

    [Parameter]
    public AceDataCollector LookupData { get; set; }
    [Parameter]
    public LoggerUtility Logger { get; set; }
    [Parameter]
    public string Reason { get; set; }

    protected override async Task OnInitializedAsync()
    {

        LookupData.DocumentSubmitted += new MyEventHandler(DocumentSubmitted);
    }

    string clueReferenceNumberInput;
    void DocumentSubmitted(bool isValidate)
    {
        if (((PLHoUmbDwUserEntity)LookupData.UserSelection).OHCancellationNonRenewalDetail == null)
            ((PLHoUmbDwUserEntity)LookupData.UserSelection).OHCancellationNonRenewalDetail = new();
        ((PLHoUmbDwUserEntity)LookupData.UserSelection).OHCancellationNonRenewalDetail.ClueReferenceNumber = clueReferenceNumberInput?.Trim();
    }

}
