@using static AdhocCorrespondenceEditor.Client.AceDataCollector
@using AdhocCorrespondenceEditor.Client
@using AdhocCorrespondenceEditor.Client.Common
@using AdhocCorrespondenceEditor.Shared
@using AdhocCorrespondenceEditor.Shared.CL
@using AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity
@using AdhocCorrespondenceEditor.Shared.PCCA
@implements IAsyncDisposable
@namespace AdhocCorrespondenceEditor.Client.Shared
<div class="panel panel-primary">
    <div class="panel-heading">
        CC section
    </div>
    <table width="100%">
        <tr>
            <td class="col-md-3" style="border:solid; border-width:thin;padding-top:2px">CC</td>
            <td class="col-md-9" style="border:solid; border-width:thin;padding-top:2px">CC Name/Address</td>
        </tr>
    </table>
    <div class="panel-body">
        <div>
            @foreach (var item in selectedList)
            { 
                <DynamicComponent Type="item" Parameters="@Parameters"  /> 
            }
            <div class="col-md-12">
                <RadzenButton Click=@AddNewCCSection Text="Add New" ButtonStyle="ButtonStyle.Secondary" style="margin-right:10px"/>
                <RadzenButton Click=@RemoveCCSection Text="Remove" ButtonStyle="ButtonStyle.Secondary" style="margin-right:10px"/>
            </div>
        </div>
    </div>
</div>

@code {

    public async ValueTask DisposeAsync()
    {
        LookupData.DocumentSubmitted -= new MyEventHandler(DocumentSubmitted);
    }
    [Parameter]
    public AceDataCollector LookupData { get; set; }
    [Parameter]
    public LoggerUtility Logger { get; set; }
    public Dictionary<string, object> Parameters { get; set; } = 
        new Dictionary<string, object>();
    public int indexCount = 1;

    protected override async Task OnInitializedAsync()
    {
        Parameters.Add(ApplicationConstants.LookupData, LookupData);
        selectedList.Add(Type.GetType($"AdhocCorrespondenceEditor.Client.Shared.BCWCUProducerCcSectionTo"));
        LookupData.DocumentSubmitted += new MyEventHandler(DocumentSubmitted);
    }

    void DocumentSubmitted(bool isValidate)
    {
        LookupData.UserSelection.CopiesTo.Clear();
    }

    List<Type> selectedList= new ();
    public async void AddNewCCSection()
    {
        if(indexCount < 10)
        {
            indexCount = indexCount + 1;
            selectedList.Add(Type.GetType($"AdhocCorrespondenceEditor.Client.Shared.BCWCUProducerCcSectionTo"));
        }
        StateHasChanged();
    }

    public async void RemoveCCSection()
    {
        if (indexCount > 1)
        {
            indexCount = indexCount - 1;
            selectedList.RemoveAt(indexCount - 1);
        }
        StateHasChanged();
    }

}
