@using AdhocCorrespondenceEditor.Client
@using AdhocCorrespondenceEditor.Client.Common
@using AdhocCorrespondenceEditor.Client.ControlClass
@using AdhocCorrespondenceEditor.Client.PageHelper
@using AdhocCorrespondenceEditor.Shared
@using AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity
@using AdhocCorrespondenceEditor.Shared.PL
@using static AdhocCorrespondenceEditor.Client.AceDataCollector
@implements IAsyncDisposable
@namespace AdhocCorrespondenceEditor.Client.Shared
<div class="panel panel-primary">
    <div class="panel-heading">
        Driver Information
    </div>
    <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                   @lable
                </div>
                <div class="col-md-4">
                    <RadzenDropDown class="@LookupData.GetTextColorClass(selectedDriver + inputDriverName, firstRendeValue && isRequired)" TValue="PartyAddressUI" TextProperty="DisplayName" ValueProperty="PartyID"
                    Data=@partyList Change=@(args => OnDriverChanged(args))  AllowClear=true  Placeholder="--Select--" Style="width: 100%; max-width: 300px;" />
                </div>
                <div class="col-md-4">
                    <RadzenTextBox class="@LookupData.GetTextColorClass(selectedDriver + inputDriverName, firstRendeValue && isRequired)"  @bind-Value=@inputDriverName Disabled ="@(!string.IsNullOrEmpty(selectedDriver))" MaxLength="150" Style="width: 100%; max-width: 300px;"/>
                </div>
            </div>
    </div>
</div>
@code {

    public async ValueTask DisposeAsync()
    {
        LookupData.DocumentSubmitted -= new MyEventHandler(DocumentSubmitted);
    }

    [Parameter]
    public AceDataCollector LookupData { get; set; }

    [Parameter]
    public LoggerUtility Logger { get; set; }

    string lable = "* Driver";
    bool isRequired = true;
    string selectedDriver, inputDriverName = string.Empty;
    List<PartyAddressUI> partyList = new();
    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (!string.IsNullOrEmpty(ApplicationClassUtility.GetVariableText(LookupData.configLookupEntity, nameof(isRequired), LookupData.documentData.documentEntity.DocumentId)))
            {
                isRequired = false;
                lable = lable.Replace("*", ""); ;
            }
            string plDriver;
            var driverInfoTypes = ApplicationClassUtility.GetVariableText(LookupData.configLookupEntity, nameof(plDriver), LookupData.documentData.documentEntity.DocumentId).Split(',');
            var partyFullList = (new MapperClass()).GetMappedObjects(LookupData.SourceSystemEntity);
            partyList = partyFullList.Where(y => (driverInfoTypes.Any(y.PartyRoles.Contains)))?.OrderBy(x=>x.DisplayName)?.ToList();

        }
        catch (Exception ex)
        {
            Logger.LogInfoAsync(LogType.Error, ex);
        }
        LookupData.DocumentSubmitted += new MyEventHandler(DocumentSubmitted);
    }

    bool firstRendeValue = true;
    protected override void OnAfterRender(bool firstRender)
    {
        firstRendeValue = firstRender;
    }
    void DocumentSubmitted(bool isValidate)
    {
        if (string.IsNullOrEmpty(selectedDriver) && string.IsNullOrEmpty(inputDriverName?.Trim()))
        {
            LookupData.errorDetails.IsInValid = isValidate && isRequired;
            return;
        }
         ((PLOutputBase)LookupData.UserSelection).SelectedDriverName = string.IsNullOrEmpty(selectedDriver) ? inputDriverName?.Trim() : selectedDriver;
    }
    public async void OnDriverChanged(object myArgs)
    {
        var id = myArgs == null ? string.Empty : myArgs.ToString();
        if (string.IsNullOrEmpty(id))
            selectedDriver = string.Empty;
        else
            selectedDriver = partyList.Where(x => x.PartyID == id).FirstOrDefault()?.DisplayName;
        if (!string.IsNullOrEmpty(selectedDriver))
            inputDriverName = string.Empty;
    }



}
