USE [ACE]
GO
/****** Object:  StoredProcedure [dbo].[GetConfigurationLookup]    Script Date: 2/9/2024 3:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   procedure  [dbo].[GetConfigurationLookup] 
AS
BEGIN

	SET NOCOUNT ON;

	--LOB
	SELECT 		  
	  cfg.[LOBId],
	  [DocumentId] ,
      [ConfigKey],
      [ConfigValue],
      [LOBName]
	  
	  FROM [dbo].configuration cfg
	  JOIN [dbo].[LOB] lob
	  ON lob.LOBId = cfg.LOBId

END