USE [ACE]
GO
/****** Object:  StoredProcedure [dbo].[GetLookupData]    Script Date: 7/17/2023 4:47:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Sreedhar Meka
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER procedure  [dbo].[GetDocumentDropdownLookupData] 
AS
BEGIN

	SET NOCOUNT ON;


	--Generic lookup data
	SELECT 
       [DocumentId]
      ,dropdowntype.[LobId]
	  ,LOBName
      ,[DocumentDropdownLookupTypeCode]
      ,[DocumentDropdownLookupTypeLabelName]
      ,[DocumentDirection]
	  ,[DocumentDropdownLookupItemCode]
      ,[DocumentDropdownLookupItemValue]
      ,[DocumentDropdownLookupItemTypeId]
      ,[DocumentDropdownLookupItemOrder]
	  ,[InspireTag]

	FROM  [dbo].[DocumentDropdownLookupType] dropdowntype
	JOIN  [dbo].[DocumentDropdownLookupItem] dropdownlook
	ON dropdowntype.DocumentDropdownLookupTypeId = dropdownlook.DocumentDropdownLookupItemTypeId
	JOIN  [dbo].[LOB] lob
	ON lob.LOBId = dropdowntype.LobId

	ORDER BY DocumentId,DocumentDropdownLookupTypeCode,DocumentDropdownLookupItemOrder
END

GO

CREATE OR ALTER procedure  [dbo].[GetDocumentDropdownChildControl] 
AS
BEGIN

	SET NOCOUNT ON;


	--Generic lookup data
	SELECT 
        dropcc.[DocumentId]
	   ,[DocumentName]
	   ,[DocumentFriendlyName]
	   ,dropcc.[DocumentDropdownLookupItemId]
	   ,dropdownlook.[DocumentDropdownLookupItemCode]
	   ,dropdownlook.[DocumentDropdownLookupItemValue]
	   ,[ControlName]

	FROM  [dbo].[DocumentDropdownChildControl] dropcc
	JOIN  [dbo].[DocumentDropdownLookupItem] dropdownlook
	ON dropcc.DocumentDropdownLookupItemId = dropdownlook.DocumentDropdownLookupItemId
	JOIN [dbo].Control cc
	ON cc.ControlId = dropcc.ControlId
	JOIN  [dbo].[Document] doc
	ON doc.DocumentId = dropcc.DocumentId
END

GO
