USE [ACE]
GO
/****** Object:  StoredProcedure [dbo].[GetLookupData]    Script Date: 7/17/2023 4:46:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Sreedhar Meka
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create or alter procedure  [dbo].[GetPrinterLookupData] 
AS
BEGIN

	SET NOCOUNT ON;

	--printer lookup data
	SELECT 
		prin.PrinterId,
		prin.PrinterName,
		prin.PrinterCode,
		prin.IsPrinterActive,
		lobprin.LOBId,
		lobprin.CategoryId,
		lobprin.DocumentId,
		lobprin.PrinterOrder,
		lob.LOBName,
		lob.LOBType
	FROM 	[dbo].[Printer] prin
	JOIN  [dbo].[LOBPrinter] lobprin
	ON prin.PrinterId = lobprin.PrinterId
	JOIN [dbo].[LOB] lob
	ON lob.LOBId = lobprin.LOBId
	ORDER BY lobprin.PrinterOrder
END



