@using AdhocCorrespondenceEditor.Client
@using AdhocCorrespondenceEditor.Client.Common
@using AdhocCorrespondenceEditor.Client.ControlClass
@using AdhocCorrespondenceEditor.Client.PageHelper
@using AdhocCorrespondenceEditor.Shared
@using AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity
@using AdhocCorrespondenceEditor.Shared.WCC
@using static AdhocCorrespondenceEditor.Client.AceDataCollector
@implements IAsyncDisposable
@namespace AdhocCorrespondenceEditor.Client.Shared
<div class="panel panel-primary">
    <div class="panel-heading">
        All Law Firms
    </div>
    <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                   Law Firm:
                </div>
                <div class="col-md-9">
                     <RadzenDropDown class="DropDownSize" TValue="PartyAddressUI" Data=@partyList TextProperty="DisplayName" ValueProperty="PartyID" Change=@(args => OnPartyChanged(args)) AllowClear=true  Placeholder="--Select--" />
                    <span class="alert-dangerMsg" hidden="@(partyList.Count > 0)">@ApplicationConstants.NoDataMsg</span>
                </div>
            </div>

    </div>
</div>
@code {

    public async ValueTask DisposeAsync()
    {
        LookupData.DocumentSubmitted -= new MyEventHandler(DocumentSubmitted);
    }

    [Parameter]
    public AceDataCollector LookupData { get; set; }

    [Parameter]
    public LoggerUtility Logger { get; set; }

    List<PartyAddressUI> partyList = new();
    protected override async Task OnInitializedAsync()
    {
        try
        {
            List<string> allLawFirmRole;
            allLawFirmRole = ApplicationClassUtility.GetVariableText(LookupData.configLookupEntity, nameof(allLawFirmRole), LookupData.documentData.documentEntity.DocumentId)?.Split(',').ToList();
            var partyFullList = (new MapperClass()).GetMappedObjects(LookupData.SourceSystemEntity);
            partyList = partyFullList.Where(x => x.PartyRoles.Any(allLawFirmRole.Contains)).ToList();
        }
        catch (Exception ex)
        {
            Logger.LogInfoAsync(LogType.Error, ex);
        }
        LookupData.DocumentSubmitted += new MyEventHandler(DocumentSubmitted);
    }
    string partyID;
    public async void OnPartyChanged(object myArgs)
    {
        try
        {
            partyID = myArgs == null ? string.Empty : myArgs.ToString();
        }
        catch (Exception ex)
        {
            Logger.LogInfoAsync(LogType.Error, ex);
        }
    }
    void DocumentSubmitted(bool isValidate)
    {
        if (string.IsNullOrEmpty(partyID))
            return;
        var userSelection = ((WCCUserEntity)LookupData.UserSelection);

        var selectedParty = partyList.Where(x => x.PartyID == partyID).FirstOrDefault();
        if (selectedParty != null)
        {
            userSelection.ALLLawFirmName = selectedParty.DisplayName;
        }
    }

}
