@using AdhocCorrespondenceEditor.Client
@using AdhocCorrespondenceEditor.Client.Common
@using AdhocCorrespondenceEditor.Client.ControlClass
@using AdhocCorrespondenceEditor.Client.PageHelper
@using AdhocCorrespondenceEditor.Shared
@using AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity
@using AdhocCorrespondenceEditor.Shared.WCC
@using static AdhocCorrespondenceEditor.Client.AceDataCollector
@implements IAsyncDisposable
@namespace AdhocCorrespondenceEditor.Client.Shared
<div class="panel panel-primary">
    <div class="panel-heading">
        Provider Information
    </div>

    <div class="panel-body">

            <div class="row">
                <div class="col-md-3">
                    @providerNameLable
                </div>
                <div class="col-md-6">
                     <RadzenDropDown TValue="PartyAddressUI" class="@LookupData.GetTextColorClass(partyID, firstRendeValue || !IsProvierRequired )" Data=@partyList TextProperty="DisplayName" ValueProperty="PartyID" 
                    Change=@(args => OnPartyChanged(args)) AllowClear=true  Placeholder="--Select--"  Style="width: 100%; max-width: 400px;"/>
                    <span class="alert-dangerMsg" hidden="@(partyList.Count > 0)">@ApplicationConstants.NoDataMsg</span>
                </div>
            </div>
        </div>


</div>
@code {

    public async ValueTask DisposeAsync()
    {
        LookupData.DocumentSubmitted -= new MyEventHandler(DocumentSubmitted);
    }

    [Parameter]
    public AceDataCollector LookupData { get; set; }

    [Parameter]
    public LoggerUtility Logger { get; set; }
    public RadzenDropDown<ControlClass.Address> childComponent { set => components.Add(value); }
    public List<RadzenDropDown<ControlClass.Address>> components = new List<RadzenDropDown<ControlClass.Address>>();

    public string partyID { set; get; }
    public string AddressID { set; get; }
    List<PartyAddressUI> partyList = new();

    bool IsProvierRequired = false;
    string providerNameLable = "Provider Name:";
    protected override async Task OnInitializedAsync()
    {
        try
        {
            List<string> wCCProviderRoles;
            wCCProviderRoles = ApplicationClassUtility.GetVariableText(LookupData.configLookupEntity, nameof(wCCProviderRoles), LookupData.documentData.documentEntity.DocumentId)?.Split(',').ToList(); ;
            var partyFullList = (new MapperClass()).GetMappedObjects(LookupData.SourceSystemEntity);
            partyList = partyFullList.Where(x => x.PartyRoles.Any(wCCProviderRoles.Contains)).ToList();
            IsProvierRequired = ApplicationClassUtility.GetVariableText(LookupData.configLookupEntity, nameof(IsProvierRequired), LookupData.documentData.documentEntity.DocumentId)?.ToString()?.ToUpper() == bool.TrueString.ToUpper() ? true : false;

            if (IsProvierRequired)
                providerNameLable = "* Provider Name:";

        }
        catch (Exception ex)
        {
            Logger.LogInfoAsync(LogType.Error, ex);
        }
        LookupData.DocumentSubmitted += new MyEventHandler(DocumentSubmitted);
    }

    bool firstRendeValue = true;
    protected override void OnAfterRender(bool firstRender)
    {
        firstRendeValue = firstRender;
    }
    public async void OnPartyChanged(object myArgs)
    {

        partyID = (myArgs == null) ? string.Empty : myArgs.ToString();

    }

    void DocumentSubmitted(bool isValidate)
    {
        var userSelection = ((WCCUserEntity)LookupData.UserSelection);
        if (string.IsNullOrEmpty(partyID))
        {
            LookupData.errorDetails.IsInValid = true;
            return;
        }


        var selectedParty = partyList.Where(x => x.PartyID == partyID).FirstOrDefault();
        var phoneDetails = selectedParty?.ElectronicsDetails?.PhoneFaxDetailList?.Where(x => x.IsPrimary == true).FirstOrDefault();

        if (selectedParty != null)
        {
            userSelection.ProviderName= new AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity.Address
                {
                    DisplayName = selectedParty.DisplayName,
                    Phone = phoneDetails == null?string.Empty: Utility.PhoneFormate(phoneDetails.AreaCode, phoneDetails.Exchange, phoneDetails.Number),
                    FaxDetails = string.Empty
                };
        }
    }

}
