@using AdhocCorrespondenceEditor.Client
@using AdhocCorrespondenceEditor.Client.Common
@using AdhocCorrespondenceEditor.Client.ControlClass
@using AdhocCorrespondenceEditor.Client.PageHelper
@using AdhocCorrespondenceEditor.Shared
@using AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity
@using AdhocCorrespondenceEditor.Shared.GC
@using static AdhocCorrespondenceEditor.Client.AceDataCollector
@implements IAsyncDisposable
@namespace AdhocCorrespondenceEditor.Client.Shared
<div class="panel panel-primary">
    <div class="panel-heading">
        Provider
    </div>
    <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                   Provider Name:
                </div>
                <div class="col-md-9">
                       <RadzenDropDown id="Provider" TValue="PartyAddressUI" class="DropDownSize" Data=@partyList TextProperty="DisplayName" 
                    ValueProperty="PartyID" Change=@(args => OnPartyChanged(args)) AllowClear=true  Placeholder="--Select--"/>
                    <span class="alert-dangerMsg" hidden="@(partyList.Count > 0)">@ApplicationConstants.NoDataMsg</span>
                </div>
            </div>
    </div>
</div>
@code {

    public async ValueTask DisposeAsync()
    {
        LookupData.DocumentSubmitted -= new MyEventHandler(DocumentSubmitted);
    }

    [Parameter]
    public AceDataCollector LookupData { get; set; }

    [Parameter]
    public LoggerUtility Logger { get; set; }
    List<PartyAddressUI> partyList = new();
    protected override async Task OnInitializedAsync()
    {
        try
        {
            partyList = (new MapperClass()).GetMappedObjects(LookupData.SourceSystemEntity)?.OrderBy(x=>x.DisplayName)?.ToList();
        }
        catch (Exception ex)
        {
            Logger.LogInfoAsync(LogType.Error, ex);
        }
        LookupData.DocumentSubmitted += new MyEventHandler(DocumentSubmitted);
    }

    string partyID;
    public async void OnPartyChanged(object myArgs)
    {
        try
        {
            partyID= (myArgs == null)? string.Empty:myArgs.ToString();
        }
        catch (Exception ex)
        {
            Logger.LogInfoAsync(LogType.Error, ex);
        }
    }

    void DocumentSubmitted(bool isValidate)
    {
        if (string.IsNullOrEmpty(partyID))
            return;
       ((GCUserEntity)LookupData.UserSelection).ProviderName = partyList.Where(x => x.PartyID == partyID).FirstOrDefault().DisplayName;
    }

}
