@using AdhocCorrespondenceEditor.Client
@using AdhocCorrespondenceEditor.Client.ControlClass
@using AdhocCorrespondenceEditor.Client.PageHelper
@using AdhocCorrespondenceEditor.Shared
@using AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity
@using AdhocCorrespondenceEditor.Shared.PCCA
@using static AdhocCorrespondenceEditor.Client.AceDataCollector
@implements IAsyncDisposable
@namespace AdhocCorrespondenceEditor.Client.Shared
<div class="panel panel-primary">
    <div class="panel-heading">
          Coverage Effective Date
    </div>
    <div class="panel-body">
        <div class="row margin-top-controls">
            <div class="col-md-3">
                Coverage Effective Date
            </div>
            <div class="col-md-6">
                <RadzenDatePicker @bind-Value=@date DateFormat="yyyy-MM-dd" Change=@(args => OnletterDateChange(args))  Style="width: 100%; max-width: 400px;" ShowCalendarWeek/>
            </div>
        </div>
    </div>
</div>
@code {

    public async ValueTask DisposeAsync()
    {
        LookupData.DocumentSubmitted -= new MyEventHandler(DocumentSubmitted);
    }

    [Parameter]
    public AceDataCollector LookupData { get; set; }

    [Parameter]
    public LoggerUtility Logger { get; set; }
    DateTime? date;
    protected override async Task OnInitializedAsync()
    {
        LookupData.DocumentSubmitted += new MyEventHandler(DocumentSubmitted);
    }
    bool firstRendeValue = true;
    protected override void OnAfterRender(bool firstRender)
    {
        firstRendeValue = firstRender;
    }
    void DocumentSubmitted(bool isValidate)
    {
        if (date.HasValue)
            ((PLPAUserEntity)LookupData.UserSelection).CoverageEffectiveDate = date.Value;

    }

    void OnletterDateChange(object myArgs)
    {
        date = myArgs == null? null:(DateTime)myArgs;
    }
}
