@using AdhocCorrespondenceEditor.Client
@using AdhocCorrespondenceEditor.Client.Common
@using AdhocCorrespondenceEditor.Client.ControlClass
@using AdhocCorrespondenceEditor.Client.PageHelper
@using AdhocCorrespondenceEditor.Shared
@using AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity
@using AdhocCorrespondenceEditor.Shared.PL
@using static AdhocCorrespondenceEditor.Client.AceDataCollector
@implements IAsyncDisposable
@namespace AdhocCorrespondenceEditor.Client.Shared
<div class="panel panel-primary">
    <div class="panel-heading">
         Midterm Cancel Reason
    </div>
    <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                   * Driver:
                </div>
                <div class="col-md-4">
                <RadzenDropDown class="@LookupData.GetTextColorClass(selectedDriver + inputDriverName, firstRendeValue)"  TValue="PartyAddressUI" Data=@partyList Change=@(args => OnDriverChanged(args)) 
                        ValueProperty="PartyID" TextProperty="DisplayName"  AllowClear=true  Placeholder="--Select--" />
                </div>
                <div class="col-md-4">
                <RadzenTextBox class="@LookupData.GetTextColorClass(selectedDriver + inputDriverName, firstRendeValue)"  @bind-Value=@inputDriverName Disabled ="@(!string.IsNullOrEmpty(selectedDriver))" MaxLength="150" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                   * License/MVR Suspended Date:
                </div>
                <div class="col-md-4">
                <RadzenDatePicker TValue="DateTime"  class="@LookupData.GetTextColorClassCalander((suspendedMVRDate.HasValue) ? suspendedMVRDate.Value.ToString() : string.Empty, firstRendeValue)" DateFormat="yyyy-MM-dd" Change=@(args => OnPayoutDateChange(args)) /> </div>
            </div> 
    </div>
</div>

@code {

    public async ValueTask DisposeAsync()
    {
        LookupData.DocumentSubmitted -= new MyEventHandler(DocumentSubmitted);
    }

    [Parameter]
    public AceDataCollector LookupData { get; set; }

    [Parameter]
    public LoggerUtility Logger { get; set; }

    string selectedDriver, inputDriverName = string.Empty;
    List<PartyAddressUI> partyList = new();
    DateTime? suspendedMVRDate;
    

    protected override async Task OnInitializedAsync()
    {
        try
        {
            string plDriver;
            var driverInfoTypes = ApplicationClassUtility.GetVariableText(LookupData.configLookupEntity, nameof(plDriver), LookupData.documentData.documentEntity.DocumentId).Split(',');
            var partyFullList = (new MapperClass()).GetMappedObjects(LookupData.SourceSystemEntity);
            partyList = partyFullList.Where(y => (driverInfoTypes.Any(y.PartyRoles.Contains)))?.OrderBy(x=>x.DisplayName)?.ToList();

        }
        catch (Exception ex)
        {
            Logger.LogInfoAsync(LogType.Error, ex);
        }
        LookupData.DocumentSubmitted += new MyEventHandler(DocumentSubmitted);
    }
    bool firstRendeValue = true;
    protected override void OnAfterRender(bool firstRender)
    {
        firstRendeValue = firstRender;
    }

    void DocumentSubmitted(bool isValidate)
    {
        if (string.IsNullOrEmpty(selectedDriver) && string.IsNullOrEmpty(inputDriverName?.Trim()))
        {
            if (isValidate)
                LookupData.errorDetails.IsInValid = isValidate;
            return;
        }
       ((PLPAUserEntity)LookupData.UserSelection).SelectedDriverNameMVRSuspendDate = string.IsNullOrEmpty(selectedDriver) ? inputDriverName?.Trim() : selectedDriver;
        if (suspendedMVRDate.HasValue)
        ((PLPAUserEntity)LookupData.UserSelection).LIC_MVR_SuspendDate =suspendedMVRDate.Value;
        else
        {
            LookupData.errorDetails.IsInValid = isValidate;
        }
         // ((PLPAUserEntity)LookupData.UserSelection).SelectedDriverNameMVRSuspendDate = string.IsNullOrEmpty(selectedDriver) ? inputDriverName?.Trim() : selectedDriver;
         // ((PLPAUserEntity)LookupData.UserSelection).LIC_MVR_SuspendDate =suspendedMVRDate;
    }
    public async void OnDriverChanged(object myArgs)
    {
        var id = myArgs == null ? string.Empty : myArgs.ToString();
        if (string.IsNullOrEmpty(id))
            selectedDriver = string.Empty;
        else
            selectedDriver = partyList.Where(x => x.PartyID == id).FirstOrDefault()?.DisplayName;
        if (!string.IsNullOrEmpty(selectedDriver))
            inputDriverName = string.Empty;
    }

        void OnPayoutDateChange(object myArgs)
    {
        if (myArgs != null)
            suspendedMVRDate = (DateTime)myArgs;
    }

}
